<div class="adminContainer blackCard">
   <header class="flex header">
        <div class="flex headerTitle purple adminHeaderTitle">
            <div class="title adminTitle">
                ניהול
            </div>
        </div>
        <div class="flex headerTitle purpleOpacity adminHeaderTitle">
            <div class="title adminTitle">
                סטטיסטיקות
            </div>
        </div>
    </header>
    <div class="flex managmentContainer">
        <div class="flexColumn entityColumn">
            <div class="flex manageEntityHeader">
                <div>מועדונים</div>
                <i class="material-icons button" data-toggle="modal" data-target="#addClubModal">add_circle</i>   
            </div>
            <div class="flexColumn manageEntityList">
                @foreach (var club in ViewBag.Clubs as IList<Hamerim.Models.Club>) 
                    {
                        string editId = "editClub" + club.Id;
                        string editIdTarget = "#editClub" + club.Id;

                        <div class="flex manageEntity">
                            <div>@club.Name</div>
                            <i class="material-icons button" data-toggle="modal" data-target="@editIdTarget">edit</i>   
                        </div>

                        <!--Edit Club Modal-->
                        <div class="modal fade" id="@editId" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modalContainer" role="document">
                                <div class="modal-content myModal">
                                    <div class="flex addModalHeader">
                                        <div>עריכת מועדון</div>
                                        <i class="material-icons button"  data-dismiss="modal">close</i>   
                                    </div>
                                    <form class="addModalForm" asp-action="EditClub" asp-controller="Admin" asp-route-id="@club.Id" method="PUT" enctype="multipart/form-data">
                                        <div class="flex formRow">
                                            <div class="inputLabel">שם</div>
                                            <input class="inputField" type="text" id="name" name="name" value="@club.Name">
                                        </div>
                                        @* <div class="flex formRow">
                                            <div class="inputLabel">עיר</div>
                                            <input class="inputField" type="text" id="name" name="name" value="@club.Address.City">
                                        </div>
                                        <div class="flex formRow">
                                            <div class="inputLabel">רחוב</div>
                                            <input class="inputField" type="text" id="name" name="name" value="@club.Address.Street">
                                        </div>
                                        <div class="flex formRow">
                                            <div class="inputLabel">מספר בית</div>
                                            <input class="inputField" type="text" id="name" name="name" value="@club.Address.HouseNumber">
                                        </div> *@
                                        <div class="flex formRow">
                                            <div class="inputLabel">מחיר</div>
                                            <input  class="inputField" type="number" id="name" name="name" value="@club.Cost">
                                        </div>
                                        <div class="flex buttons">
                                            <button type="submit" class="btn btn-primary addButton">אישור</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
            </div>
            <!--Add Club Modal -->
            <div class="modal fade" id="addClubModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modalContainer" role="document">
                    <div class="modal-content myModal">
                        <div class="flex addModalHeader">
                            <div>הוספת מועדון</div>
                            <i class="material-icons button"  data-dismiss="modal">close</i>   
                        </div>
                        <form class="addModalForm"  class="addModalForm" asp-action="AddClub" asp-controller="Admin" method="POST" enctype="multipart/form-data">
                            <div class="flex formRow">
                                <div class="inputLabel">שם</div>
                                <input class="inputField" type="text" id="name" name="name">
                            </div>
                            <div class="flex formRow">
                                <div class="inputLabel">מיקום</div>
                                <input class="inputField" type="text" id="name" name="name">
                            </div>
                            <div class="flex formRow">
                                <div class="inputLabel">מחיר</div>
                                <input  class="inputField" type="number" id="name" name="name">
                            </div>
                            <div class="flex buttons">
                                <button type="submit" class="btn btn-primary addButton">רוצה להוסיף</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        @* <div class="flexColumn entityColumn">
            <div class="flex manageEntityHeader">
                <div>קטגוריות</div>
                <i class="material-icons button" data-toggle="modal" data-target="#addCategoryModal">add_circle</i>   
            </div>
            <div class="flexColumn manageEntityList">
                @foreach (var category in ViewBag.Categories as IList<Hamerim.Models.Category>) 
                    {
                        string editId = "editCategory" + category.Id;
                        string editIdTarget = "#editCategory" + category.Id;

                        <div class="flex manageEntity">
                            <div>@category.Name</div>
                            <i class="material-icons button" data-toggle="modal" data-target="@editIdTarget">edit</i>   
                        </div>

                        <!--Edit Category Modal-->
                        <div class="modal fade" id="@editId" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modalContainer" role="document">
                                <div class="modal-content myModal">
                                    <div class="flex addModalHeader">
                                        <div>עריכת קטגוריה</div>
                                        <i class="material-icons button"  data-dismiss="modal">close</i>   
                                    </div>
                                    <form class="addModalForm" asp-action="EditCategory" asp-controller="Admin" asp-route-id="@category.Id" method="PUT" enctype="multipart/form-data">
                                        <div class="flex formRow">
                                            <div class="inputLabel">שם</div>
                                            <input class="inputField" type="text" id="name" name="name" value="@category.Name">
                                        </div>
                                        <div class="flex buttons">
                                            <button type="submit" class="btn btn-primary addButton">אישור</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
            </div>

             <!--Add Category Modal -->
            <div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modalContainer" role="document">
                    <div class="modal-content myModal">
                        <div class="flex addModalHeader">
                            <div>הוספת קטגוריה</div>
                            <i class="material-icons button"  data-dismiss="modal">close</i>   
                        </div>
                        <form class="addModalForm"  class="addModalForm" asp-action="AddCategory" asp-controller="Admin" method="POST" enctype="multipart/form-data">
                            <div class="flex formRow">
                                <div class="inputLabel">שם</div>
                                <input class="inputField" type="text" id="name" name="name">
                            </div>
                            <div class="flex buttons">
                                <button type="submit" class="btn btn-primary addButton">רוצה להוסיף</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="flexColumn entityColumn">
            <div class="flex manageEntityHeader">
                <div>תוספות</div>
                <i class="material-icons button" data-toggle="modal" data-target="#addServiceModal">add_circle</i>   
            </div>
            <div class="flexColumn manageEntityList">
                @foreach (var service in ViewBag.Services as IList<Hamerim.Models.Service>) 
                    {
                        string editId = "editService" + service.Id;
                        string editIdTarget = "#editService" + service.Id;

                        <div class="flex manageEntity">
                            <div>@service.Name</div>
                            <i class="material-icons button" data-toggle="modal" data-target="@editIdTarget">edit</i>   
                        </div>

                        <!--Edit Service Modal-->
                        <div class="modal fade" id="@editId" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modalContainer" role="document">
                                <div class="modal-content myModal">
                                    <div class="flex addModalHeader">
                                        <div>עריכת קטגוריה</div>
                                        <i class="material-icons button"  data-dismiss="modal">close</i>   
                                    </div>
                                    <form class="addModalForm" asp-action="EditService" asp-controller="Admin" asp-route-id="@service.Id" method="PUT" enctype="multipart/form-data">
                                        <div class="flex formRow">
                                            <div class="inputLabel">שם</div>
                                            <input class="inputField" type="text" id="name" name="name" value="@service.Name">
                                        </div>
                                        <div class="flex buttons">
                                            <button type="submit" class="btn btn-primary addButton">אישור</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
            </div>

             <!--Add Service Modal -->
            <div class="modal fade" id="addServiceModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modalContainer" role="document">
                    <div class="modal-content myModal">
                        <div class="flex addModalHeader">
                            <div>הוספת תוספת</div>
                            <i class="material-icons button"  data-dismiss="modal">close</i>   
                        </div>
                        <form class="addModalForm"  class="addModalForm" asp-action="AddCategory" asp-controller="Admin" method="POST" enctype="multipart/form-data">
                            <div class="flex formRow">
                                <div class="inputLabel">שם</div>
                                <input class="inputField" type="text" id="name" name="name">
                            </div>
                            <div class="flex buttons">
                                <button type="submit" class="btn btn-primary addButton">רוצה להוסיף</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> *@
    </div>
</div>