


<div class="adminContainer blackCard">
   <header class="flex header">
        <div class="flex headerTitle purple adminHeaderTitle">
            <a class="title adminTitle" href="/Admin/Index">
                ניהול
            </a>
        </div>
        <div class="flex headerTitle purpleOpacity adminHeaderTitle">
            <a class="title adminTitle" href="/Admin/Statistics">
                סטטיסטיקות
            </a>
        </div>
    </header>
    <div class="flex managmentContainer">
        <div class="flexColumn entityColumn">
            <div class="flex manageEntityHeader">
                <div>מועדונים</div>
                <i class="material-icons button" onclick="validateAddClub();" data-toggle="modal" data-target="#addClubModal">add_circle</i>   
            </div>
            <div class="flexColumn manageEntityList">
                @foreach (var club in ViewBag.Clubs as IList<Hamerim.Models.Club>) 
                    {
                        string editId = "editClub" + club.Id;
                        string editIdTarget = "#editClub" + club.Id;

                        <div class="flex manageEntity">
                            <div>@club.Name</div>
                            <i class="material-icons button" data-toggle="modal" data-target="@editIdTarget">edit</i>   
                        </div>

                        <!--Edit Club Modal-->
                        <div class="modal fade" id="@editId" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modalContainer" role="document">
                                <div class="modal-content myModal">
                                    <div class="flex addModalHeader">
                                        <div>עריכת מועדון</div>
                                        <i class="material-icons button"  data-dismiss="modal">close</i>   
                                    </div>
                                    @using (Html.BeginForm("EditClub", "Admin", new { id=@club.Id }, FormMethod.Post)){
                                    <div class="addModalForm">
                                        <div class="flex formRow">
                                            <div class="inputLabel">שם</div>
                                            <input class="inputField" type="text" id="clubName" name="name" value="@club.Name" onkeyup="validateEditClub();">
                                        </div>
                                        <div class="flex formRow">
                                            <div class="inputLabel">עיר (באנגלית)</div>
                                            <input class="inputField" type="text" id="clubCity" name="city" value="@club.Address.City" onkeyup="validateEditClub();">
                                        </div>
                                        <div class="flex formRow">
                                            <div class="inputLabel">רחוב (באנגלית)</div>
                                            <input class="inputField" type="text" id="clubStreet" name="street" value="@club.Address.Street" onkeyup="validateEditClub();">
                                        </div>
                                        <div class="flex formRow">
                                            <div class="inputLabel">מספר בית</div>
                                            <input class="inputField" type="number" id="clubHouseNumber" name="houseNumber" value="@club.Address.HouseNumber">
                                        </div>
                                        <div class="flex formRow">
                                            <div class="inputLabel">מחיר</div>
                                            <input  class="inputField" type="number" id="clubCost" name="cost" value="@club.Cost" onkeyup="validateEditClub();">
                                        </div>
                                        <div class="flex buttons">
                                            <span id="editClubError" class="errorFormText"></span>
                                            <button type="submit" id="editClubBtn" class="btn btn-primary addButton">אישור</button>
                                        </div>
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
            </div>
            <!--Add Club Modal -->
            <div class="modal fade" id="addClubModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modalContainer" role="document">
                    <div class="modal-content myModal">
                        <div class="flex addModalHeader">
                            <div>הוספת מועדון</div>
                            <i class="material-icons button" onclick="cleanClubValues()" data-dismiss="modal">close</i>   
                        </div>
                        @using (Html.BeginForm("AddClub", "Admin", FormMethod.Post)){
                        <div class="addModalForm">
                            <div class="flex formRow">
                                <div class="inputLabel">שם</div>
                                <input class="inputField" type="text" id="addClubName" name="name" onkeyup="validateAddClub()">
                            </div>
                            <div class="flex formRow">
                                <div class="inputLabel">עיר (באנגלית)</div>
                                <input class="inputField" type="text" id="addClubCity" name="city" onkeyup="validateAddClub()">
                            </div>
                            <div class="flex formRow">
                                <div class="inputLabel">רחוב (באנגלית)</div>
                                <input class="inputField" type="text" id="addClubStreet" name="street" onkeyup="validateAddClub()">
                            </div>
                            <div class="flex formRow">
                                <div class="inputLabel">מספר בית</div>
                                <input class="inputField" type="number" id="addClubHouseNumber" name="houseNumber">
                            </div>
                            <div class="flex formRow">
                                <div class="inputLabel">מחיר</div>
                                <input  class="inputField" type="number" id="addClubCost" name="cost" onkeyup="validateAddClub()">
                            </div>
                            <div class="flex buttons">
                                <span class="errorFormText" id="addClubError"></span>
                                <button type="submit" id="addClubBtn" class="btn btn-primary addButton">רוצה להוסיף</button>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
 
        <div class="flexColumn entityColumn">
            <div class="flex manageEntityHeader">
                <div>קטגוריות</div>
                <i class="material-icons button" onclick="validateAddCategory();" data-toggle="modal" data-target="#addCategoryModal">add_circle</i>   
            </div>
            <div class="flexColumn manageEntityList">
                @foreach (var category in ViewBag.Categories as IList<Hamerim.Models.ServiceCategory>) 
                    {
                        string editId = "editCategory" +category.Id;
                        string editIdTarget = "#editCategory" + category.Id;
    
                        <div class="flex manageEntity">
                            <div>@category.Title</div>
                            <i class="material-icons button" data-toggle="modal" data-target="@editIdTarget">edit</i>   
                        </div>

                        <!--Edit Category Modal-->
                        <div class="modal fade" id="@editId" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modalContainer" role="document">
                                <div class="modal-content myModal">
                                    <div class="flex addModalHeader">
                                        <div>עריכת קטגוריה</div>
                                        <i class="material-icons button"  data-dismiss="modal">close</i>   
                                    </div>
                                    @using (Html.BeginForm("EditCategory", "Admin", new { id=@category.Id }, FormMethod.Post)){
                                    <div class="addModalForm">
                                        <div class="flex formRow">
                                            <div class="inputLabel">שם</div>
                                            <input class="inputField" type="text" id="editCategoryTitle" name="title" value="@category.Title"  onkeyup="validateEditCategory()">
                                        </div>
                                        <div class="flex buttons">
                                            <span class="errorFormText" id="editCategoryError"></span>
                                            <button id="editCategoryBtn" type="submit" class="btn btn-primary addButton">אישור</button>
                                        </div>
                                    </div> }
                                </div>
                            </div>
                        </div>
                    }
            </div>

            <!--Add Category Modal --> 
            <div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modalContainer" role="document">
                    <div class="modal-content myModal">
                        <div class="flex addModalHeader">
                            <div>הוספת קטגוריה</div>
                            <i class="material-icons button" onclick="cleanCategoryValues()" data-dismiss="modal">close</i>   
                        </div>
                        @using (Html.BeginForm("AddCategory", "Admin", FormMethod.Post)){
                        <div class="addModalForm">
                            <div class="flex formRow">
                                <div class="inputLabel">שם</div>
                                <input class="inputField" type="text" id="addCategoryTitle" name="title" onkeyup="validateAddCategory()">
                            </div>
                            <div class="flex buttons">
                                <span class="errorFormText" id="addCategoryError"></span>
                                <button id="addCategoryBtn" type="submit" class="btn btn-primary addButton">רוצה להוסיף</button>
                            </div>
                        </div> }
                    </div>
                </div>
            </div>
        </div> 

        <div class="flexColumn entityColumn">
            <div class="flex manageEntityHeader">
                <div>תוספות</div>
                <i class="material-icons button" onclick="validateAddService();" data-toggle="modal" data-target="#addServiceModal">add_circle</i>   
            </div>
            <div class="flexColumn manageEntityList">
                @foreach (var service in ViewBag.Services as IList<Hamerim.Models.Service>) 
                    {
                        string editId = "editService" + service.Id;
                        string editIdTarget = "#editService" + service.Id;

                        <div class="flex manageEntity">
                            <div>@service.Title</div>
                            <i class="material-icons button" data-toggle="modal" data-target="@editIdTarget">edit</i>   
                        </div>

                        <!--Edit Service Modal-->
                        <div class="modal fade" id="@editId" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modalContainer" role="document">
                                <div class="modal-content myModal">
                                    <div class="flex addModalHeader">
                                        <div>עריכת תוספת</div>
                                        <i class="material-icons button" data-dismiss="modal">close</i>   
                                    </div>
                                    @using (Html.BeginForm("EditService", "Admin",  new { id=@service.Id }, FormMethod.Post)){
                                    <div class="addModalForm">
                                        <div class="flex formRow">
                                            <div class="inputLabel">שם</div>
                                            <input class="inputField" type="text" id="editServiceTitle" name="title" value="@service.Title" onkeyup="validateEditService()">
                                        </div>
                                        <div class="flex formRow">
                                            <div class="inputLabel">קטגוריה</div>
                                            <select class="inputField" id="editServiceCategory" name="category">
                                                @foreach (var category in ViewBag.Categories as IList<Hamerim.Models.ServiceCategory>) {
                                                    if(category.Id == service.Category.Id) {
                                                        <option selected value="@category.Id">@category.Title</option>
                                                    } else {
                                                        <option value="@category.Id">@category.Title</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="flex formRow">
                                            <div class="inputLabel">מחיר</div>
                                            <input class="inputField" type="number" id="editServiceCost" name="cost" value="@service.Cost" onkeyup="validateEditService()">
                                        </div>
                                        <div class="flex buttons">
                                            <span class="errorFormText" id="editServiceError"></span>
                                            <button id="editServiceBtn" type="submit" class="btn btn-primary addButton">אישור</button>
                                        </div>
                                    </div> }
                                </div>
                            </div>
                        </div>
                    }
            </div>

             <!--Add Service Modal -->
            <div class="modal fade" id="addServiceModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modalContainer" role="document">
                    <div class="modal-content myModal">
                        <div class="flex addModalHeader">
                            <div>הוספת תוספת</div>
                            <i class="material-icons button" onclick="cleanServiceValues()" data-dismiss="modal">close</i>   
                        </div>
                        @using (Html.BeginForm("AddService", "Admin", FormMethod.Post)){
                        <div class="addModalForm">
                            <div class="flex formRow">
                                <div class="inputLabel">שם</div>
                                <input class="inputField" type="text" id="addServiceTitle" name="title" onkeyup="validateAddService()">
                            </div>
                            <div class="flex formRow">
                                <div class="inputLabel">קטגוריה</div>
                                <select class="inputField" id="addServiceCategory" name="category">
                                    <option selected disabled id="chooseCategoryOption">בחר קטגוריה</option>
                                    @foreach (var category in ViewBag.Categories as IList<Hamerim.Models.ServiceCategory>) {
                                        <option value="@category.Id" onclick="validateAddService()">@category.Title</option>
                                    }
                                </select>
                            </div>
                            <div class="flex formRow">
                                <div class="inputLabel">מחיר</div>
                                <input  class="inputField" type="number" id="addServiceCost" name="cost" onkeyup="validateAddService()">
                            </div>
                            <div class="flex buttons">
                                <span class="errorFormText" id="addServiceError"></span>
                                <button id="addServiceBtn" type="submit" class="btn btn-primary addButton">רוצה להוסיף</button>
                            </div>
                        </div> }
                    </div>
                </div>
            </div>
        </div>

        <div class="flexColumn entityColumn">
            <div class="flex manageEntityHeader">
                <div>הזמנות</div>
            </div>
            <div class="flexColumn manageEntityList">
                @foreach (var order in ViewBag.Orders as IList<Hamerim.Models.Order>) 
                    {
                        string deleteId = "deleteOrder" + order.Id;
                        string deleteIdTarget = "#deleteOrder" + order.Id;

                        <div class="flex manageEntity">
                            <div>@order.Id @order.ClientName</div>
                            <i class="material-icons button" data-toggle="modal" data-target="@deleteIdTarget">delete</i>   
                        </div>
                        <div class="modal fade" id="@deleteId" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modalContainer" role="document">
                                <div class="modal-content myModal">
                                    <div class="flex addModalHeader">
                                        <div>מחיקת הזמנה</div>
                                        <i class="material-icons button"  data-dismiss="modal">close</i>   
                                    </div>
                                    @using (Html.BeginForm("DeleteOrder", "Admin",  new { id=@order.Id }, FormMethod.Post)){
                                    <div class="addModalForm">
                                        <div>רוצה למחוק את ההזמנה?</div>
                                        <div>אחרי מחיקת ההזמנה אין דרך להחזיר את המידע שאבד</div>
                                        <div class="flex buttons">
                                            <button class="btn btn-primary addButton"  data-dismiss="modal">התחרטתי</button>
                                            <button type="submit" class="btn btn-primary red">כן, אני רוצה למחוק</button>
                                        </div>
                                    </div> }
                                </div>
                            </div>
                        </div>
                    }
            </div>
        </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

 <script>
        $(document).ready(function () {
           validateEditClub();
           validateAddClub();
           validateAddCategory();
           validateEditCategory();
           validateAddService();
           validateEditService();
        });

    function validateEditClub(){
        var clubName = $('#clubName').val();
        var clubCost = $('#clubCost').val();
        var clubCity = $('#clubCity').val();
        var clubStreet = $('#clubStreet').val();

        if (clubName != "" && clubCity != "" && clubStreet != "" && clubCost > 0) {
            $('#editClubBtn').attr("disabled", false);
            $('#editClubError').text("");
        } else {
            $('#editClubBtn').attr("disabled", true);
            $('#editClubError').text("לא מילאת את כל השדות");
        }
    }

    function validateAddClub(){
        var clubName = $('#addClubName').val();
        var clubCost = $('#addClubCost').val();
        var clubCity = $('#addClubCity').val();
        var clubStreet = $('#addClubStreet').val();

        if (clubName != "" && clubCity != "" && clubStreet != "" && clubCost > 0) {
            $('#addClubBtn').attr("disabled", false);
            $('#addClubError').text("");
        } else {
            $('#addClubBtn').attr("disabled", true);
            $('#addClubError').text("לא מילאת את כל השדות");
        }
    }

    function validateAddCategory(){
        var categoryTitle = $('#addCategoryTitle').val();
    
        if (categoryTitle != "") {
            $('#addCategoryBtn').attr("disabled", false);
            $('#addCategoryError').text("");
        } else {
            $('#addCategoryBtn').attr("disabled", true);
            $('#addCategoryError').text("לא מילאת את כותרת הקטגוריה");
        }
    }

    function validateEditCategory(){
        var categoryTitle = $('#editCategoryTitle').val();
    
        if (categoryTitle != "") {
            $('#editCategoryBtn').attr("disabled", false);
            $('#editCategoryError').text("");
        } else {
            $('#editCategoryBtn').attr("disabled", true);
            $('#editCategoryError').text("לא מילאת את כותרת הקטגוריה");
        }
    }

    function validateAddService(){
        var serviceTitle = $('#addServiceTitle').val();
        var serviceCost = $('#addServiceCost').val();
        var serviceCategory = $('#addServiceCategory').children("option:selected").val();

        if (serviceTitle != "" && serviceCost > 0 && serviceCategory != "בחר קטגוריה") {
            $('#addServiceBtn').attr("disabled", false);
            $('#addServiceError').text("");
        } else {
            $('#addServiceBtn').attr("disabled", true);
            $('#addServiceError').text("לא מילאת את כל השדות");
        }
    }

    function validateEditService(){
        var serviceTitle = $('#editServiceTitle').val();
        var serviceCost = $('#editServiceCost').val();

        if (serviceTitle != "" && serviceCost > 0) {
            $('#editServiceBtn').attr("disabled", false);
            $('#editServiceError').text("");
        } else {
            $('#editServiceBtn').attr("disabled", true);
            $('#editServiceError').text("לא מילאת את כל השדות");
        }
    }

    function cleanServiceValues(){
        $('#addServiceTitle').val("");
        $('#addServiceCost').val("");
        $('#chooseCategoryOption').attr("selected", true);
    }

     function cleanClubValues(){
        $('#addClubName').val("");
        $('#addClubCost').val(null);
        $('#addClubCity').val("");
        $('#addClubStreet').val("");
        $('#addClubHouseNumber').val(null);
    }

    function cleanCategoryValues(){
        $('#addCategoryTitle').val("");
    }

    function cleanServiceValues(){
        $('#addServiceTitle').val("");
        $('#addServiceCost').val("");
        $('#chooseCategoryOption').attr("selected", true);
    }

     function cleanClubValues(){
        $('#addClubName').val("");
        $('#addClubCost').val(null);
        $('#addClubCity').val("");
        $('#addClubStreet').val("");
        $('#addClubHouseNumber').val(null);
    }

</script>