@{
    ViewBag.Title = "FinishedOrder";
    var order = ViewBag.Order;
    var club = order.Club;
    var services = order.ServicesInOrder;
}

    <script>
    var clubCost = @club.Cost;
    var serviceList = [];

    @foreach (var service in services)
    {
        @:serviceList.push(@service.Cost);
    }

    $(document).ready(function () {
        setSumPrice();
    });

    $.fn.digits = function () {
        return this.each(function () {
            $(this).text($(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
        })
    }

    function setSumPrice() {
        sum = clubCost + serviceList.reduce(function (accumulator, currentCost) {
            return accumulator + currentCost;
        }, 0)

        $("#sum-cost").html(sum);
        $("#sum-cost").digits();
    }
    </script>
<div class="fullHeight blackCard" id="finishedOrder">
    <header class="flex header">
        <div class="flex headerTitle purple">
            <div class="title">
                סיכום ההזמנה
            </div>
            <div class="arrowUp"></div>
        </div>
    </header>
    <div class="flex flex-column">
        <div class="card right">
            <div class="card-body">
                <p class="card-title">@club.Name</p>
                <p class="card-subtitle">@club.PrintAddress()</p>
                <p class="card-footer">@String.Format("{0:n0}", club.Cost)&#8362; לערב</p>
            </div>
        </div>
        <div class="blackCard leftSide">
            <header class="flex header">
                <div class="flex headerTitle purple">
                    <div class="title">
                        תוספות
                    </div>
                    <div class="arrowUp"></div>
                </div>
            </header>
            <div class="contenct services-list">
                <ul>
                    <dt class="service-cat">ccc</dt>
                    @foreach (var service in services)
                    {
                        <dd class="service-item">
                            <label class="container">
                                <span class="service-item-label">@service.Title</span>
                                <input type="checkbox" name="serviceIds" value="@service.Id" cost=@service.Cost id="serviceId" onclick="setSumPrice(this)">
                                <span class="checkmark"></span>
                                <span class="">@String.Format("{0:n0}", service.Cost)&#8362;</span>
                            </label>
                        </dd>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="flex flex-column">
        <div class="blackCard card only-title">
            <header class="flex header">
                <div class="flex headerTitle black">
                    <div class="title">
                        תאריך
                    </div>
                    <div class="arrowUp"></div>
                </div>
                <div class="headerLeft">
                    <span>@order.Date</span>
                </div>
            </header>
        </div>
        <div class="blackCard card only-title">
            <header class="flex header">
                <div class="flex headerTitle black">
                    <div class="title">
                        עלות כוללת
                    </div>
                    <div class="arrowUp"></div>
                </div>
                <div class="headerLeft">
                    <span id="sum-cost"></span><span>&#8362;</span>
                </div>
            </header>
        </div>
    </div>
    <div class="flex flex-row-lg">
        <div class="card right">
            <div class="card-body">
                <p class="card-title">@order.Club.Name</p>
                <p class="card-subtitle">@order.Club.PrintAddress()</p>
                <p class="card-footer">@String.Format("{0:n0}", order.Club.Cost)&#8362; לערב</p>
            </div>
        </div>
        <div class="card leftSide">
            <div class="flex client-details-card">
                <div class="client-details">
                    <div class="flex flex-row">
                        <span>שם</span><span name="clientName" id="clientName" />@order.ClientName</span>
                    </div>
                    <div class="flex flex-row">
                        <span>טלפון</span><span name="clientPhone" id="clientPhone" />@order.ClientPhone</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
