@{
    ViewBag.Title = "NewOrder";
    var clubs = ViewBag.Clubs;
    var cities = ViewBag.Cities;
}

<script>
    $(document).ready(function () {
        $("#switcher-display").click(function () {
            if ($("#switcher-display")[0].checked == true) {
                $("#map-display")[0].style.display = "flex";
                $("#table-display")[0].style.display = "none";
            } else {
                $("#map-display")[0].style.display = "none";
                $("#table-display")[0].style.display = "flex";
            }
        });
    })

    $.fn.digits = function () {
        return this.each(function () {
            $(this).text($(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
        })
    }

    function filter() {
        var costCheck = document.forms["filters"]["checkMaxCost"].checked;
        var cityCheck = document.forms["filters"]["checkCity"].checked;
        var nameCheck = document.forms["filters"]["checkName"].checked;

        var costValidate = costCheck ? document.forms["filters"]["filterMaxCost"].value != "" : true;
        var nameValidate = nameCheck ? document.forms["filters"]["filterName"].value != "" : true;

        if (costValidate && nameValidate) {
            var cost = costCheck ? parseInt(document.forms["filters"]["filterMaxCost"].value) : Number.MAX_SAFE_INTEGER;
            var city = cityCheck ? document.forms["filters"]["filterCity"].value : "";
            var name = nameCheck ? document.forms["filters"]["filterName"].value : "";

            $.ajax({
                type: "GET",
                url: "/Order/FilterClubs",
                data: {
                    maxPriceFilter: cost,
                    nameFilter: name,
                    cityFilter: city
                },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $('#clubs').html("");
                    $.each(data, function (i, club) {
                        var houseText = club.Address.HouseNumber > 0 ? club.Address.HouseNumber : ""
                        var address = `${club.Address.City}, ${club.Address.Street} ${houseText}`
                        var row =
                            "<div class='flex card'>" +
                            "<form action='/Order/AfterChooseClub' method='post'>" +
                            "<div class='card-body'>" +
                            "<input type='hidden' name='Id' value='" + club.Id + "' />" +
                            "<p class='card-title'>" + club.Name + "</p>" +
                            "<p class='card-subtitle'>" + address + "</p>" +
                            "<p class='card-footer' id='club-cost-" + club.Id + "'>&#8362;" + club.Cost + " לערב</p>" +
                            "</div>" +
                            "<button type='submit' id='choose-club-btn' class='btn'>בחרתי!</button>" +
                            "</form>" +
                            "</div>"
                        $('#clubs').append(row);
                        $("#club-cost-" + club.Id).digits();
                    });
                },
                error: function (err) {
                    console.log(err);
                }
            });
        } else {
            return false;
        }
    }

    function getAllLocations() {
        $.ajax({
            type: "GET",
            url: "/Order/GetLocations",
            data: {},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (locations) {
                $.each(locations, function (i, loc) {
                    console.log(loc);
                });
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    getAllLocations();
     
</script>

<div class="fullHeight blackCard">
    <header class="flex header">
        <div class="flex headerTitle purple">
            <div class="title">
                בואו נבחר מועדון
            </div>
            <div class="arrowUp"></div>
        </div>
        <div class="headerLeft switch-container">
            <label class="switch-text">מפה</label>
            <label class="switch">
                <input type="checkbox" id="switcher-display">
                <span class="slider round"></span>
            </label>
            <label class="switch-text">טבלה</label>
        </div>
    </header>

    <div id="filters-card" class="card">
        <header class="flex header">
            <div class="flex headerTitle headerTitle-sm black">
                <div class="title">
                    סינונים
                </div>
                <div class="arrowUp"></div>
            </div>
        </header>
        <form name="filters">
            <div class="flex filters">
                <div class="flex">
                    <label class="container">
                        <span class="service-item-label">מחיר מקסימלי:</span>
                        <input type="checkbox" name="checkMaxCost">
                        <span class="checkmark"></span>
                    </label>
                    <input class="dark-input" type="number" name="filterMaxCost" id="maxCost" />
                </div>
                <div class="flex filter">
                    <label class="container">
                        <span class="service-item-label">עיר:</span>
                        <input type="checkbox" name="checkCity">
                        <span class="checkmark"></span>
                    </label>
                    <select class="dark-input" name="filterCity" id="filterCity">
                        @foreach (var city in cities)
                        {
                            <option value="@city">@city</option>
                        }
                    </select>
                </div>
                <div class="flex">
                    <label class="container">
                        <span class="service-item-label">שם המועדון:</span>
                        <input type="checkbox" name="checkName">
                        <span class="checkmark"></span>
                    </label>
                    <input class="dark-input" type="text" name="filterName" id="filterName" />
                </div>
                <button type="button" id="filter-btn" class="btn form-control btn-primary btn-sm" onclick="filter()">סנן</button>
            </div>
        </form>
    </div>
    <div class="flex contenct" id="table-display">
        @foreach (var club in clubs as IList<Hamerim.Models.Club>)
        {
            <div class="flex card">
                <form action='/Order/AfterChooseClub' method='post'>
                    <div class="card-body">
                        <input type="hidden" name="Id" value="@club.Id" />
                        <p class="card-title">@club.Name</p>
                        <p class="card-subtitle">@club.PrintAddress()</p>
                        <p class="card-footer">&#8362;@String.Format("{0:n0}", club.Cost) לערב</p>
                    </div>
                    <button type="submit" class="btn choose-club-btn">בחרתי!</button>
                </form>
            </div>
        }
    </div>
    <div class="flex contenct" id="map-display">
        ---MAPA
    </div>
</div>
