<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Assistant">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    @* <script src="https://d3js.org/d3.v6.min.js"></script> *@

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="mynavbar">
        <a href="/Home/Index" class="mytab">
            <img class="logoImg" src="~/Content/logo.png" />
        </a>
        <a href="/Order/NewOrder" class="mytab">הזמן מקום</a>
        <a href="/Order/ViewOrder" class="mytab">ההזמנות שלי</a>
        <a href="/Admin/Index" class="mytab" id="managerTab">
            <i class="material-icons managerIcon">account_circle</i>   
            מנהל
        </a>
    </nav>
    <div class="contentContainer">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
